:root{
    --bg-color: #1a1f25;
    --primary-color: #21262D;
    --secondary-color: #2b323a;
    --text-color: #A5A8BD;
    --select-nav-color: #A371F7;
    --button-color: #39A6FF;
    --text-color-2: #394962;
}


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

#contato{
    display: flex;
    align-items: center;
    position: absolute;
    height: calc((100vh - 800px) / 2);
    filter: invert(15%) sepia(24%) saturate(414%) hue-rotate(172deg) brightness(101%) contrast(91%);
    justify-content: space-around;
    width: 100px;
}

#contato img{
    height: 30px;
}

#calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 625px;
    border-radius: 30px;
    margin: auto 0;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 25px #07090d;
}

#conteudo-interativo{
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    border-radius: 30px;
}

#visor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    height: 150px;
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px 0px #07090d;
}

#visor label{
    height: 100%;
    width: 80%;
    border-radius: 0px 30px 0px 0px;
    border: none;
    background-color: transparent;
    font-size: 70px;
    color: var(--text-color);
}

#opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 20%;
    height: 100%;
    border-radius: 30px 0px 0px 0px;;
}

#opcoes div{
    height: 5px;
    width: 75%;
    background-color: var(--bg-color);
    border-radius: 10px;
}

#opcoes div:nth-child(1){
    margin-bottom: 20px;
}

#opcoes div:nth-child(2){
    margin-bottom: 20px;
}

#botoes{
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 0px 0px 30px 30px;
    height: calc(100% - 180px);
}

button{
    border: none;
    cursor: pointer;
}

#botoes button{
    background: radial-gradient(#181c22, var(--bg-color)80%);
    font-family: monospace;
    font-size: 45px;
    color: var(--text-color);
    box-shadow: 0px 0px 10px #07090d;
}

#botoes .botoes-claros{
    background: radial-gradient(#242b31,var(--secondary-color)80%);
}

#botoes button:nth-last-child(1){
    border-radius: 0px 0px 30px 0px;
    background: radial-gradient(#af361d ,#DF4D31 80%);
    color: var(--primary-color);
}

#botoes button:nth-last-child(5){
    border-radius: 0px 0px 0px 30px;
}

#backspace{
    display: flex;
    justify-content: center;
    align-items: center;
}

#backspace span{
    font-size: 50px;
}